@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: "Lato", sans-serif;
}

.contain {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.MathJax_Hover_Frame {
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  box-shadow: 0px 0px 15px #83a;
  -webkit-box-shadow: 0px 0px 15px #83a;
  -moz-box-shadow: 0px 0px 15px #83a;
  -khtml-box-shadow: 0px 0px 15px #83a;
  border: 1px solid #a6d !important;
  display: inline-block;
  position: absolute;
}
.MathJax_Menu_Button .MathJax_Hover_Arrow {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #aaa;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  font-family: "Courier New", Courier;
  font-size: 9px;
  color: #f0f0f0;
}
.MathJax_Menu_Button .MathJax_Hover_Arrow span {
  display: block;
  background-color: #aaa;
  border: 1px solid;
  border-radius: 3px;
  line-height: 0;
  padding: 4px;
}
.MathJax_Hover_Arrow:hover {
  color: white !important;
  border: 2px solid #ccc !important;
}
.MathJax_Hover_Arrow:hover span {
  background-color: #ccc !important;
}
</style > <style type="text/css" > #MathJax_About {
  position: fixed;
  left: 50%;
  width: auto;
  text-align: center;
  border: 3px outset;
  padding: 1em 2em;
  background-color: #dddddd;
  color: black;
  cursor: default;
  font-family: message-box;
  font-size: 120%;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  z-index: 201;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  box-shadow: 0px 10px 20px #808080;
  -webkit-box-shadow: 0px 10px 20px #808080;
  -moz-box-shadow: 0px 10px 20px #808080;
  -khtml-box-shadow: 0px 10px 20px #808080;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
}
#MathJax_About.MathJax_MousePost {
  outline: none;
}
.MathJax_Menu {
  position: absolute;
  background-color: white;
  color: black;
  width: auto;
  padding: 5px 0px;
  border: 1px solid #cccccc;
  margin: 0;
  cursor: default;
  font: menu;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  z-index: 201;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  box-shadow: 0px 10px 20px #808080;
  -webkit-box-shadow: 0px 10px 20px #808080;
  -moz-box-shadow: 0px 10px 20px #808080;
  -khtml-box-shadow: 0px 10px 20px #808080;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
}
.MathJax_MenuItem {
  padding: 1px 2em;
  background: transparent;
}
.MathJax_MenuArrow {
  position: absolute;
  right: 0.5em;
  padding-top: 0.25em;
  color: #666666;
  font-size: 0.75em;
}
.MathJax_MenuActive .MathJax_MenuArrow {
  color: white;
}
.MathJax_MenuArrow.RTL {
  left: 0.5em;
  right: auto;
}
.MathJax_MenuCheck {
  position: absolute;
  left: 0.7em;
}
.MathJax_MenuCheck.RTL {
  right: 0.7em;
  left: auto;
}
.MathJax_MenuRadioCheck {
  position: absolute;
  left: 0.7em;
}
.MathJax_MenuRadioCheck.RTL {
  right: 0.7em;
  left: auto;
}
.MathJax_MenuLabel {
  padding: 1px 2em 3px 1.33em;
  font-style: italic;
}
.MathJax_MenuRule {
  border-top: 1px solid #dddddd;
  margin: 4px 3px;
}
.MathJax_MenuDisabled {
  color: GrayText;
}
.MathJax_MenuActive {
  background-color: #606872;
  color: white;
}
.MathJax_MenuDisabled:focus,
.MathJax_MenuLabel:focus {
  background-color: #e8e8e8;
}
.MathJax_ContextMenu:focus {
  outline: none;
}
.MathJax_ContextMenu .MathJax_MenuItem:focus {
  outline: none;
}
#MathJax_AboutClose {
  top: 0.2em;
  right: 0.2em;
}
.MathJax_Menu .MathJax_MenuClose {
  top: -10px;
  left: -10px;
}
.MathJax_MenuClose {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #aaa;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -khtml-border-radius: 18px;
  font-family: "Courier New", Courier;
  font-size: 24px;
  color: #f0f0f0;
}
.MathJax_MenuClose span {
  display: block;
  background-color: #aaa;
  border: 1.5px solid;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -khtml-border-radius: 18px;
  line-height: 0;
  padding: 8px 0 6px;
}
.MathJax_MenuClose:hover {
  color: white !important;
  border: 2px solid #ccc !important;
}
.MathJax_MenuClose:hover span {
  background-color: #ccc !important;
}
.MathJax_MenuClose:hover:focus {
  outline: none;
}
.MathJax_Preview .MJXf-math {
  color: inherit !important;
}

.MJX_Assistive_MathML {
  position: absolute !important;
  top: 0;
  left: 0;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 1px 0 0 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  display: block !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.MJX_Assistive_MathML.MJX_Assistive_MathML_Block {
  width: 100% !important;
}
 #MathJax_Zoom {
  position: absolute;
  background-color: #f0f0f0;
  overflow: auto;
  display: block;
  z-index: 301;
  padding: 0.5em;
  border: 1px solid black;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  box-shadow: 5px 5px 15px #aaaaaa;
  -webkit-box-shadow: 5px 5px 15px #aaaaaa;
  -moz-box-shadow: 5px 5px 15px #aaaaaa;
  -khtml-box-shadow: 5px 5px 15px #aaaaaa;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
}
#MathJax_ZoomOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}
#MathJax_ZoomFrame {
  position: relative;
  display: inline-block;
  height: 0;
  width: 0;
}
#MathJax_ZoomEventTrap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 302;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}
.MathJax_Preview {
  color: #888;
}
#MathJax_Message {
  position: fixed;
  left: 1em;
  bottom: 1.5em;
  background-color: #e6e6e6;
  border: 1px solid #959595;
  margin: 0px;
  padding: 2px 8px;
  z-index: 102;
  color: black;
  font-size: 80%;
  width: auto;
  white-space: nowrap;
}
#MathJax_MSIE_Frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  z-index: 101;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.MathJax_Error {
  color: #cc0000;
  font-style: italic;
}
.MJXp-script {
  font-size: 0.8em;
}
.MJXp-right {
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
.MJXp-bold {
  font-weight: bold;
}
.MJXp-italic {
  font-style: italic;
}
.MJXp-scr {
  font-family: MathJax_Script, "Times New Roman", Times, STIXGeneral, serif;
}
.MJXp-frak {
  font-family: MathJax_Fraktur, "Times New Roman", Times, STIXGeneral, serif;
}
.MJXp-sf {
  font-family: MathJax_SansSerif, "Times New Roman", Times, STIXGeneral, serif;
}
.MJXp-cal {
  font-family: MathJax_Caligraphic, "Times New Roman", Times, STIXGeneral, serif;
}
.MJXp-mono {
  font-family: MathJax_Typewriter, "Times New Roman", Times, STIXGeneral, serif;
}
.MJXp-largeop {
  font-size: 150%;
}
.MJXp-largeop.MJXp-int {
  vertical-align: -0.2em;
}
.MJXp-math {
  display: inline-block;
  line-height: 1.2;
  text-indent: 0;
  font-family: "Times New Roman", Times, STIXGeneral, serif;
  white-space: nowrap;
  border-collapse: collapse;
}
.MJXp-display {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.MJXp-math span {
  display: inline-block;
}
.MJXp-box {
  display: block !important;
  text-align: center;
}
.MJXp-box:after {
  content: " ";
}
.MJXp-rule {
  display: block !important;
  margin-top: 0.1em;
}
.MJXp-char {
  display: block !important;
}
.MJXp-mo {
  margin: 0 0.15em;
}
.MJXp-mfrac {
  margin: 0 0.125em;
  vertical-align: 0.25em;
}
.MJXp-denom {
  display: inline-table !important;
  width: 100%;
}
.MJXp-denom > * {
  display: table-row !important;
}
.MJXp-surd {
  vertical-align: top;
}
.MJXp-surd > * {
  display: block !important;
}
.MJXp-script-box > * {
  display: table !important;
  height: 50%;
}
.MJXp-script-box > * > * {
  display: table-cell !important;
  vertical-align: top;
}
.MJXp-script-box > *:last-child > * {
  vertical-align: bottom;
}
.MJXp-script-box > * > * > * {
  display: block !important;
}
.MJXp-mphantom {
  visibility: hidden;
}
.MJXp-munderover {
  display: inline-table !important;
}
.MJXp-over {
  display: inline-block !important;
  text-align: center;
}
.MJXp-over > * {
  display: block !important;
}
.MJXp-munderover > * {
  display: table-row !important;
}
.MJXp-mtable {
  vertical-align: 0.25em;
  margin: 0 0.125em;
}
.MJXp-mtable > * {
  display: inline-table !important;
  vertical-align: middle;
}
.MJXp-mtr {
  display: table-row !important;
}
.MJXp-mtd {
  display: table-cell !important;
  text-align: center;
  padding: 0.5em 0 0 0.5em;
}
.MJXp-mtr > .MJXp-mtd:first-child {
  padding-left: 0;
}
.MJXp-mtr:first-child > .MJXp-mtd {
  padding-top: 0;
}
.MJXp-mlabeledtr {
  display: table-row !important;
}
.MJXp-mlabeledtr > .MJXp-mtd:first-child {
  padding-left: 0;
}
.MJXp-mlabeledtr:first-child > .MJXp-mtd {
  padding-top: 0;
}
.MJXp-merror {
  background-color: #ffff88;
  color: #cc0000;
  border: 1px solid #cc0000;
  padding: 1px 3px;
  font-style: normal;
  font-size: 90%;
}
.MJXp-scale0 {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.MJXp-scale1 {
  -webkit-transform: scaleX(0.1);
  -moz-transform: scaleX(0.1);
  -ms-transform: scaleX(0.1);
  -o-transform: scaleX(0.1);
  transform: scaleX(0.1);
}
.MJXp-scale2 {
  -webkit-transform: scaleX(0.2);
  -moz-transform: scaleX(0.2);
  -ms-transform: scaleX(0.2);
  -o-transform: scaleX(0.2);
  transform: scaleX(0.2);
}
.MJXp-scale3 {
  -webkit-transform: scaleX(0.3);
  -moz-transform: scaleX(0.3);
  -ms-transform: scaleX(0.3);
  -o-transform: scaleX(0.3);
  transform: scaleX(0.3);
}
.MJXp-scale4 {
  -webkit-transform: scaleX(0.4);
  -moz-transform: scaleX(0.4);
  -ms-transform: scaleX(0.4);
  -o-transform: scaleX(0.4);
  transform: scaleX(0.4);
}
.MJXp-scale5 {
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.MJXp-scale6 {
  -webkit-transform: scaleX(0.6);
  -moz-transform: scaleX(0.6);
  -ms-transform: scaleX(0.6);
  -o-transform: scaleX(0.6);
  transform: scaleX(0.6);
}
.MJXp-scale7 {
  -webkit-transform: scaleX(0.7);
  -moz-transform: scaleX(0.7);
  -ms-transform: scaleX(0.7);
  -o-transform: scaleX(0.7);
  transform: scaleX(0.7);
}
.MJXp-scale8 {
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
  transform: scaleX(0.8);
}
.MJXp-scale9 {
  -webkit-transform: scaleX(0.9);
  -moz-transform: scaleX(0.9);
  -ms-transform: scaleX(0.9);
  -o-transform: scaleX(0.9);
  transform: scaleX(0.9);
}
.MathJax_Display {
  text-align: center;
  margin: 1em 0em;
  position: relative;
  display: block !important;
  text-indent: 0;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  width: 100%;
}
.MathJax .merror {
  background-color: #ffff88;
  color: #cc0000;
  border: 1px solid #cc0000;
  padding: 1px 3px;
  font-style: normal;
  font-size: 90%;
}
.MathJax .MJX-monospace {
  font-family: monospace;
}
.MathJax .MJX-sans-serif {
  font-family: sans-serif;
}
#MathJax_Tooltip {
  background-color: InfoBackground;
  color: InfoText;
  border: 1px solid black;
  box-shadow: 2px 2px 5px #aaaaaa;
  -webkit-box-shadow: 2px 2px 5px #aaaaaa;
  -moz-box-shadow: 2px 2px 5px #aaaaaa;
  -khtml-box-shadow: 2px 2px 5px #aaaaaa;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true');
  padding: 3px 4px;
  z-index: 401;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  display: none;
}
.MathJax {
  display: inline;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 100%;
  font-size-adjust: none;
  text-indent: 0;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  direction: ltr;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
.MathJax:focus,
body :focus .MathJax {
  display: inline-table;
}
.MathJax.MathJax_FullWidth {
  text-align: center;
  display: table-cell !important;
  width: 10000em !important;
}
.MathJax img,
.MathJax nobr,
.MathJax a {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  vertical-align: 0;
  line-height: normal;
  text-decoration: none;
}
img.MathJax_strut {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: 0 !important;
}
.MathJax span {
  display: inline;
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: 0;
  line-height: normal;
  text-decoration: none;
}
.MathJax nobr {
  white-space: nowrap !important;
}
.MathJax img {
  display: inline !important;
  float: none !important;
}
.MathJax * {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.MathJax_Processing {
  visibility: hidden;
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.MathJax_Processed {
  display: none !important;
}
.MathJax_ExBox {
  display: block !important;
  overflow: hidden;
  width: 1px;
  height: 60ex;
  min-height: 0;
  max-height: none;
}
.MathJax .MathJax_EmBox {
  display: block !important;
  overflow: hidden;
  width: 1px;
  height: 60em;
  min-height: 0;
  max-height: none;
}
.MathJax_LineBox {
  display: table !important;
}
.MathJax_LineBox span {
  display: table-cell !important;
  width: 10000em !important;
  min-width: 0;
  max-width: none;
  padding: 0;
  border: 0;
  margin: 0;
}
.MathJax .MathJax_HitBox {
  cursor: text;
  background: white;
  opacity: 0;
  filter: alpha(opacity=0);
}
.MathJax .MathJax_HitBox * {
  filter: none;
  opacity: 1;
  background: transparent;
}
#MathJax_Tooltip * {
  filter: none;
  opacity: 1;
  background: transparent;
}
@font-face {
  font-family: MathJax_Blank;
  src: url("");
}
.rotateText {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.);
}
.interactive {
  width: 100%;
}
#jxgbox1 {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 400px;
}
#jxgbox1 p {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px;
  margin-left: 3px;
  font-size: 1em;
}
#output {
  font-size: 0.9em;
}
#output label {
  color: #444;
}
#sdgraph {
  margin-left: 200px;
}
#zscores {
  display: none;
  text-align: center;
}
#z2ScoreCalc {
  margin-left: 3em;
}
#sigmaOutput {
  margin-left: 7em;
}
#probOutput {
  text-align: center;
  min-height: 1.7em;
}
#musig {
  text-align: center;
}
.jxgbox {
  /* for IE 7 */
  position: relative;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #356AA0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-touch-action: none;
  /* touch-action: none; */ /* Set with JavaScript */
}

.jxgbox svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.JXGtext {
  font-family: Courier, monospace;
}
